[submodule "src/message_filters"]
	path = src/message_filters
	url = git@github.com:shandilya1998/message_filters.git
	branch = humble
[submodule "src/vision-opencv"]
	path = src/vision-opencv
	url = git@github.com:ros-perception/vision_opencv.git
	branch = humble
[submodule "src/ros2_shared"]
	path = src/ros2_shared
	url = git@github.com:shandilya1998/ros2_shared.git
[submodule "src/tello"]
	path = src/tello
	url = git@github.com:shandilya1998/tello_ros.git
[submodule "src/controllers/ext/raspclaws"]
	path = src/controllers/ext/raspclaws
	url = git@github.com:shandilya1998/Adeept_RaspClaws.git
[submodule "src/SLAM"]
	path = src/slam
	url = git@github.com:shandilya1998/ros2_orb_slam3.git
[submodule "src/mpu6050"]
	path = src/mpu6050
	url = git@github.com:shandilya1998/ros2_mpu6050.git
